In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
import os
import warnings
warnings.filterwarnings("ignore")

In [2]:
godigt = pd.read_excel(r"C:\Users\ragha\OneDrive\Desktop\Great Learning\GL Practice files\Statistics\godigt_cc_data.xlsx")

In [3]:
godigt.head()

,userid,card_no,card_bin_no,Issuer,card_type,card_source_date,high_networth,active_30,active_60,active_90,...,bank_vintage,T+1_month_activity,T+2_month_activity,T+3_month_activity,T+6_month_activity,T+12_month_activity,Transactor_revolver,avg_spends_l3m,Occupation_at_source,cc_limit
0,1,4384 39XX XXXX XXXX,438439,Visa,edge,2019-09-29,B,0,1,1,...,27,0,0,0,0,0,T,27729,Self Employed,290000
1,2,4377 48XX XXXX XXXX,437748,Visa,prosperity,2002-10-30,A,1,1,1,...,52,0,0,0,0,0,R,280854,0,950000
2,3,4377 48XX XXXX XXXX,437748,Visa,rewards,2013-10-05,C,0,0,0,...,23,1,0,0,0,0,R,70587,Student,210000
3,4,4258 06XX XXXX XXXX,425806,Visa,indianoil,1999-06-01,E,0,1,1,...,49,0,0,1,0,0,T,9156,Self Employed,80000
4,5,4377 48XX XXXX XXXX,437748,Visa,edge,2006-06-13,B,1,1,1,...,21,1,0,0,0,0,T,38108,Salaried,220000

In [4]:
godigt.shape

(8448, 28)

In [5]:
godigt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8448 entries, 0 to 8447
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   userid                   8448 non-null   int64
 1   card_no                  8448 non-null   object
 2   card_bin_no              8448 non-null   int64
 3   Issuer                   8448 non-null   object
 4   card_type                8448 non-null   object
 5   card_source_date         8448 non-null   datetime64[ns]
 6   high_networth            8448 non-null   object
 7   active_30                8448 non-null   int64
 8   active_60                8448 non-null   int64
 9   active_90                8448 non-null   int64
 10  cc_active30              8448 non-null   int64
 11  cc_active60              8448 non-null   int64
 12  cc_active90              8448 non-null   int64
 13  hotlist_flag             8448 non-null   object
 14  widget_products          8448 non-null   int64
 15  engagement_products      8448 non-null   int64
 16  annual_income_at_source  8448 non-null   int64
 17  other_bank_cc_holding    8448 non-null   object
 18  bank_vintage             8448 non-null   int64
 19  T+1_month_activity       8448 non-null   int64
 20  T+2_month_activity       8448 non-null   int64
 21  T+3_month_activity       8448 non-null   int64
 22  T+6_month_activity       8448 non-null   int64
 23  T+12_month_activity      8448 non-null   int64
 24  Transactor_revolver      8410 non-null   object
 25  avg_spends_l3m           8448 non-null   int64
 26  Occupation_at_source     8448 non-null   object
 27  cc_limit                 8448 non-null   int64
dtypes: datetime64[ns](1), int64(19), object(8)
memory usage: 1.8+ MB

In [6]:
godigt.duplicated().sum()

0

In [7]:
godigt.columns

Index(['userid', 'card_no', 'card_bin_no', 'Issuer', 'card_type',
       'card_source_date', 'high_networth', 'active_30', 'active_60',
       'active_90', 'cc_active30', 'cc_active60', 'cc_active90',
       'hotlist_flag', 'widget_products', 'engagement_products',
       'annual_income_at_source', 'other_bank_cc_holding', 'bank_vintage',
       'T+1_month_activity', 'T+2_month_activity', 'T+3_month_activity',
       'T+6_month_activity', 'T+12_month_activity', 'Transactor_revolver',
       'avg_spends_l3m', 'Occupation_at_source', 'cc_limit'],
      dtype='object')

In [8]:
cat = []
num = []

for i in godigt.columns:
    if godigt[i].dtype=="object":
        cat.append(i)
    else:
        num.append(i)
         
print(cat)

['card_no', 'Issuer', 'card_type', 'high_networth', 'hotlist_flag', 'other_bank_cc_holding', 'Transactor_revolver', 'Occupation_at_source']

In [9]:
print(num)

['userid', 'card_bin_no', 'card_source_date', 'active_30', 'active_60', 'active_90', 'cc_active30', 'cc_active60', 'cc_active90', 'widget_products', 'engagement_products', 'annual_income_at_source', 'bank_vintage', 'T+1_month_activity', 'T+2_month_activity', 'T+3_month_activity', 'T+6_month_activity', 'T+12_month_activity', 'avg_spends_l3m', 'cc_limit']

In [10]:
godigt.isnull().sum()

userid                      0
card_no                     0
card_bin_no                 0
Issuer                      0
card_type                   0
card_source_date            0
high_networth               0
active_30                   0
active_60                   0
active_90                   0
cc_active30                 0
cc_active60                 0
cc_active90                 0
hotlist_flag                0
widget_products             0
engagement_products         0
annual_income_at_source     0
other_bank_cc_holding       0
bank_vintage                0
T+1_month_activity          0
T+2_month_activity          0
T+3_month_activity          0
T+6_month_activity          0
T+12_month_activity         0
Transactor_revolver        38
avg_spends_l3m              0
Occupation_at_source        0
cc_limit                    0
dtype: int64

In [11]:
godigt['Transactor_revolver'].fillna(godigt['Transactor_revolver'].mode()[0],inplace =True)

In [12]:
godigt.isnull().sum()

userid                     0
card_no                    0
card_bin_no                0
Issuer                     0
card_type                  0
card_source_date           0
high_networth              0
active_30                  0
active_60                  0
active_90                  0
cc_active30                0
cc_active60                0
cc_active90                0
hotlist_flag               0
widget_products            0
engagement_products        0
annual_income_at_source    0
other_bank_cc_holding      0
bank_vintage               0
T+1_month_activity         0
T+2_month_activity         0
T+3_month_activity         0
T+6_month_activity         0
T+12_month_activity        0
Transactor_revolver        0
avg_spends_l3m             0
Occupation_at_source       0
cc_limit                   0
dtype: int64

In [14]:
numerical_columns = ['active_30', 'active_60', 'active_90', 'cc_active30', 'cc_active60', 'cc_active90', 'widget_products',
                     'engagement_products', 'annual_income_at_source', 'bank_vintage', 'T+1_month_activity',
                     'T+2_month_activity', 'T+3_month_activity', 'T+6_month_activity', 'T+12_month_activity',
                     'avg_spends_l3m', 'cc_limit']
categorical_columns = ['card_no', 'Issuer', 'card_type', 'high_networth', 'hotlist_flag', 'other_bank_cc_holding',
                       'Transactor_revolver', 'Occupation_at_source']

# Convert selected numerical columns to numeric data type
godigt[numerical_columns] = godigt[numerical_columns].apply(pd.to_numeric, errors='coerce')

# Compute the mean of each numerical column and extract the top 5 numerical variables
top_numerical_variables = godigt[numerical_columns].mean().nlargest(5).index.tolist()

# Get the most frequent value for each categorical column and extract the top 5 categorical variables
top_categorical_variables = [godigt[column].value_counts().idxmax() for column in categorical_columns][:5]

# Combine the top numerical and categorical variables
top_variables = top_numerical_variables + top_categorical_variables

# Print the top 5 variables
print(top_variables)

['annual_income_at_source', 'cc_limit', 'avg_spends_l3m', 'bank_vintage', 'engagement_products', '4262 41XX XXXX XXXX', 'Visa', 'rewards', 'A', 'N']

In [24]:
godigt = {
    'Variable': ['annual_income_at_source', 'cc_limit', 'avg_spends_l3m', 'bank_vintage', 'engagement_products'],
    'Value': ['4262 41XX XXXX XXXX', 'Visa', 'rewards', 'A', 'N']
}

godigt_df = pd.DataFrame(godigt)

# Display information in two columns
for i in range(0, len(godigt_df), 2):
    if i+1 < len(godigt_df):
        print(f'{godigt_df["Variable"][i]:<25} {godigt_df["Value"][i]:<25} {godigt_df["Variable"][i+1]:<25} {godigt_df["Value"][i+1]:<25}')
    else:
        print(f'{godigt_df["Variable"][i]:<25} {godigt_df["Value"][i]:<25}')

annual_income_at_source   4262 41XX XXXX XXXX       cc_limit                  Visa
avg_spends_l3m            rewards                   bank_vintage              A
engagement_products       N